@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #ffffff;
  --color-dark: #09090b;
  --color-grey: #f4f4f5;
}

html {
  background-color: var(--color-white);
  color: var(--color-dark);
}

html.dark {
  background-color: var(--color-dark);
  color: var(--color-grey);
  transition:
    background-color 0.3s,
    color 0.3s;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
